/* Custom arrow styles */
.slick-prev, .slick-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1; 
    color: #ffa500;
    cursor: pointer;
    opacity: 0; 
    transition: opacity 0.3s ease;
  }
  
  .slick-prev {
    left: 0px;
  }
  
  .slick-next {
    right: 0px;
  }
  
  .slick-prev::before, .slick-next::before {
    content: '';
  }

  .slick-prev:hover, .slick-next:hover {
    color: #ffa500; 
    padding: 5px;
    opacity: 100; 
    transition: opacity 0.3s ease;
  }
  